fastapi
uvicorn
langchain
langchain-community
langchain-google-genai
langchain-groq
langchain-ollama
langchain-openai
langgraph
chromadb
tavily-python
xgboost
scikit-learn
joblib
pandas
numpy
python-dotenv
pydantic
httpx
python-multipart
reportlab
requests
google-generativeai
aiosqlite
supabase
langgraph-checkpoint-sqlite
